@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    font-size: 17px;
  }
  body {
    @apply bg-bg text-text;
    font-feature-settings: "cv03", "cv04", "cv11";
  }
  /* Убираем 300ms задержку нажатий на мобилке */
  button, a, [role="button"] {
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}
